.signup-form {
    
    padding: 20px;
   
   
  }
  .signup-container {
    width: 100%;
    max-width: 400px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #817e7e;
    border-radius: 25px;
    border: 2px solid #777474;

  } 
  .signup-button-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: flex-end;
  }
  .form-label{
    color: rgb(8, 8, 8);
    font-size: larger;
}  
.heading2{
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  text-align: center;
}
.alternate{
  color: aliceblue;
}