body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    


  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header styles */
  h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
   
  }
  
  .custom-heading{
    color:rgb(224, 66, 18);
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 6%;

  }
  
  /* Navigation styles */
  .navbar {
    background-color: #181616;
    color: #fff;
    padding: 10px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  /* Bike List styles */
  .bike-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .bike-item {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .bike-item a {
    color: #333;
    text-decoration: none;
  }
  
  /* Bike Details styles */
  .bike-details {
    padding: 20px;
  }
  
  .bike-image {
    width: 100%;
    max-width: 400px;
    height: 100vh;
    margin-bottom: 20px;
  }
  
  .bike-info {
    font-size: 16px;
  }
  
  /* Cart styles */
  .cart {
    padding: 20px;
  }
  
  .cart-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  .arrow-button {
    position: fixed;
    bottom: 50%; /* Adjust the vertical position */
    right: 10px; /* Adjust the horizontal position */
    transform: translateY(50%);
    font-size: 20px;
    padding: 10px 16px;
    border-radius: 50%;
    background-color: #007bff; /* Adjust the background color as desired */
    color: #fff; /* Adjust the text color as desired */
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
  }
  .arrow-button::before {
    content: "\2192"; /* Unicode code point for right arrow */
  }
  .arrow-button:hover {
    background-color: #0056b3; /* Adjust the hover background color as desired */
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    /* Styles for screens up to 768px wide */
    .container {
      padding: 10px;
    }
  
    .bike-list {
      grid-template-columns: 1fr;
    }
  
    /* Additional styles for smaller screens */
  }
  
  @media (max-width: 480px) {
    /* Styles for screens up to 480px wide */
    h1 {
      font-size: 24px;
    }
  
    /* Additional styles for smaller screens */
  }